.search-bar-container {
  margin: 20px 0;
  margin-left: 20px;
  display: flex;
  justify-content: start;
}

.search-bar {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
}

.search-bar:focus {
  border-color: #d32f2f; /* Red focus color */
  box-shadow: 0 0 5px rgba(211, 47, 47, 0.5);
}

input::placeholder {
  color: #aaa;
}
