.navbar {
  background: linear-gradient(to bottom, #a4050a, #8b0408);
  padding: 0.8rem 1.5rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid black;
}

.navbar-brand {
  color: white !important;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.navbar-nav .nav-link {
  color: white !important;
  margin: 0 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.3s ease;
  padding: 0.5rem 0;
}

.navbar-nav .nav-link:hover {
  color: #ffcccc !important;
  border-bottom: 2px solid white;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler span {
  color: white;
  font-size: 1.2rem;
}

.navbar-collapse {
  justify-content: flex-end;
}
