.con-color {
  background-color: #fadbd8;
  display: flex;
  justify-content: center; /* Centers the content horizontally */
  padding: 20px;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px; /* Set a max width for the form container */
}

.center {
  text-align: center;
}

.field {
  margin-bottom: 20px;
}

.sameLine {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Spaces the child elements equally */
  gap: 10px; /* Adds space between the elements */
}

.sameLine .field {
  flex: 1; /* Ensures the fields take equal space */
}

.field input,
.field select,
.field textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.field textarea {
  height: 150px;
}

.submit-Update {
  background-color: #cda09f; /* Set button color */
  color: white; /* Text color */
  padding: 10px 20px; /* Button padding */
  border-radius: 8px; /* Rounded corners */
  border: none; /* Remove default border */
  font-size: 16px; /* Adjust font size */
  font-weight: bold; /* Make text bold */
  cursor: pointer; /* Change cursor to pointer on hover */
  transition: all 0.3s ease; /* Smooth transition */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.submit-Update:hover {
  background-color: #a67c6d; /* Darken the color on hover */
  transform: translateY(-3px); /* Lift the button slightly */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Darker shadow on hover */
}

.submit-Update:focus {
  outline: none; /* Remove focus outline */
  box-shadow: 0 0 0 4px #a67c6d; /* Add a glowing effect when focused */
}
